---
layout: default
title: "@csainty"
---

{% for post in paginator.posts %}

<article>
    <header class="a-h">
        <span class="a-m">
          <time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time> {% if post.tags %}in {{ post | tags }}{% endif %}
        </span>
        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    </header>
    {% if post.next %}
      <section>
          <p>{{post.excerpt}}</p>
          {% if post.excerpt != post.content %}
          <p><a class="r-m" href="{{post.url}}">Read More</a></p>
          {% endif %}
      </section>
    {% else %}
      <section>
          <p>{{post.content}}</p>
      </section>
    {% endif %}
</article>

{% endfor %}

<nav role="pagination">
  {% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
		<a class="n-p" href="/">Newer Posts</a>
	{% else %}
		<a class="n-p" href="{{ paginator.previous_page_path }}">Newer Posts</a>
	{% endif %}
  {% endif %}
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="o-p" href="/page{{ paginator.next_page }}">Older Posts</a>
  {% endif %}
</nav>
