---
layout: default
title: Chris Sainty
---

<header id="site-head" {%if site.cover %}style="background-image: url({{site.cover}})"{%endif%}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {%if site.logo %}<a id="blog-logo" href="{{site.url}}"><img src="{{site.logo}}" alt="{{site.title}}" /></a>{%endif%}
            <h1 class="blog-title">{{site.name}}</h1>
            <h2 class="blog-description">{{site.description}}</h2>
        </div>
    </div>
</header>

{% for post in paginator.posts %}

<article class="post">
    <header class="post-header">
        <span class="post-meta"><time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time> {% if post.tags %}on {{ post.tags | array_to_sentence_string}}{% endif %}</span>
        <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{post.excerpt}}&hellip;</p>
    </section>
</article>

{% endfor %}

<nav class="pagination" role="pagination">
  {% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
		<a href="/" class="newer-posts">Newer Posts</a>
	{% else %}
		<a href="{{ paginator.previous_page_path }}" class="newer-posts">Newer Posts</a>
	{% endif %}
  {% endif %}
  <span class="page-number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="older-posts">Older Posts</a>
  {% endif %}
</nav>