@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?70ntmb');
  src:  url('../fonts/icons.eot?70ntmb#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?70ntmb') format('truetype'),
    url('../fonts/icons.woff?70ntmb') format('woff'),
    url('../fonts/icons.svg?70ntmb#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.i-r,
.i-t,
.i-g,
.i-f {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-g:before {
  content: "\ea8b";
}
.i-f:before {
  content: "\ea90";
}
.i-t:before {
  content: "\ea96";
}
.i-r:before {
  content: "\ea9b";
}
