body {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 1.8rem;
  line-height: 1.6em;
  color: #3A4145;
}

h1 {
  font-size: 5rem;
  margin: 10px 0 10px 0;
  letter-spacing: -1px;
  line-height: 1.2em;
}

h2 {
  font-size: 3rem;
  line-height: 1.2em;
  letter-spacing: -1px;
}

h3 {
  font-size: 2.5rem;
  margin-top: 3rem;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #57A3E8;
  transition: color ease 0.3s;
}

p a:link,
p a:visited,
li a:link,
li a:visited {
  text-decoration: underline;
}

pre {
  border: 1px solid #E3EDF3;
  padding: 10px;
  font-size: 0.85em;
  border-radius: 3px;
  line-height: 1em;
}

code {
  padding: 1px 3px;
  font-size: 0.85em;
  white-space: pre;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px;
}

pre code {
  background: transparent;
  padding: 0;
  border: 0;
}

.m-h {
  text-align: center;
  margin-bottom: 5rem;
  background-color: #303538;
  color: #fff;
  padding: 2rem 0;
}

.m-h h2 {
  font-weight: normal;
  font-size: 2.5rem;
}

article {
  width: 75%;
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  position: relative;
}

article::after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}

.a-m {
  color: #9EABB3;
  font-size: 1.3rem;
}

.a-m a:hover {
  color: #9EABB3;
  text-decoration: underline;
}

.a-h {
  margin-bottom: 5px;
}

.r-m {
  font-size: smaller;
}

nav {
  position: relative;
  width: 75%;
  margin: 4rem auto;
  font-size: 1.3rem;
  color: #9EABB3;
  text-align: center;
}

.m-f {
  position: relative;
  margin: 8rem 0 0 0;
  padding: 4rem 0;
  border-top: #EBF2F6 1px solid;
  font-size: 1.3rem;
  line-height: 1.7em;
  color: #BBC7CC;
  text-align: center;
  background: #F7FAFB;
}

.o-p,
.n-p {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #EBF2F6 2px solid;
  text-decoration: none;
  border-radius: 30px;
  transition: border ease 0.3s;
}

.o-p {
  right: 0;
}

.n-p {
  left: 0;
}

.t-h {
  width: 80%;
  margin: 0 auto;
  font-size: 4rem;
}

.p-f {
  position: relative;
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
  border-top: #EBF2F6 1px solid;
  text-align: right;
  color: #BBC7CC;
  font-size: 1.8rem;
}

.p-f h4 {
  color: #3A4145;
}

.p-f a {
  margin: 1.4rem 1.6rem 1.6rem 0;
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
