html {
  font-size: 16px;

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

body {
  font-family: serif;
  line-height: 0.9em;
  color: #3A4145;
}

h1 {
  font-size: 2rem;
  margin: 10px 0 10px 0;
  letter-spacing: -1px;
  line-height: 1.2em;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #57A3E8;
  transition: color ease 0.3s;
}

p a:link,
p a:visited {
  text-decoration: underline;
}

pre {
  border: 1px solid #E3EDF3;
  padding: 10px;
  font-size: 0.85em;
  border-radius: 3px;
  line-height: 1em;
}

code {
  padding: 1px 3px;
  font-size: 0.85em;
  white-space: pre;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px;
}

pre code {
  background: transparent;
  padding: 0;
  border: 0;
}

.m-h {
  text-align: center;
  background-color: #303538;
  color: #fff;
  padding: 1rem;
}

.m-h h2 {
  font-weight: normal;
  font-size: 1.5rem;
}

article {
  width: 80%;
  margin: 1rem auto;
  padding-bottom: 1rem;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  position: relative;
}

article::after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}

.a-m {
  color: #9EABB3;
  font-size: 0.8rem;
}

.a-m a:hover {
  color: #9EABB3;
  text-decoration: underline;
}

.a-h {
  margin-bottom: 5px;
}

.r-m {
  font-size: smaller;
}

nav {
  position: relative;
  width: 75%;
  margin: 1rem auto;
  font-size: 0.8rem;
  color: #9EABB3;
  text-align: center;
}

.m-f {
  position: relative;
  margin: 2rem 0 0 0;
  padding: 1rem 1rem 2rem 1rem;
  border-top: #EBF2F6 1px solid;
  font-size: 0.8rem;
  line-height: 1.7em;
  color: #BBC7CC;
  text-align: center;
  background: #F7FAFB;
}

.o-p,
.n-p {
  position: absolute;
  display: inline-block;
  padding: 0 0.5rem;
  border: #EBF2F6 2px solid;
  text-decoration: none;
  border-radius: 30px;
  transition: border ease 0.3s;
}

.o-p {
  right: 0;
}

.n-p {
  left: 0;
}

.t-h {
  width: 80%;
  margin: 0 auto;
}
