html,
body,
p {
  margin: 0;
  padding: 0;
}

p,
.highlight {
  margin: 1.6em 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

pre,
code {
  font-family: Inconsolata, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  margin: 0;
}
