<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/favicon.png" />
    {% css bundle.css %}

    {% seo %}
</head>
<body>
  <header class="m-h">
    <h1><a href="{{site.url}}">{{site.name}}</a></h1>
    <h2>A technical blog covering full-stack web development.</h2>
    <h2><a href="https://twitter.com/csainty" rel="external">twitter</a> | <a href="https://github.com/csainty" rel="external">github</a> | <a href="https://stackoverflow.com/users/625695/chris-sainty" rel="external">stackoverflow</a></h2>
  </header>

  {{ content }}

  <footer class="m-f">
      <section class="copyright">All content copyright <a href="/">{{ site.name }}</a> &copy; 2006-2017 &bull; All rights reserved.</section>
  </footer>
</body>
</html>
