---
layout: default
---

<h1 class="t-h">Posts about - {{ page.tag }}</h1>

{% for post in page.posts %}

<article>
    <header class="a-h">
        <span class="a-m">
          <time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time> {{ post | tags }}
        </span>
        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    </header>
    <section>
        <p>{{post.excerpt}}</p>
        {% if post.excerpt != post.content %}
        <p><a class="r-m" href="{{post.url}}">Read More</a></p>
        {% endif %}
    </section>
</article>

{% endfor %}
